{% extends "shared/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/passenger/index.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container">
            <div class="top-table" style="float: right;" >
                <a class="btn btn-success"  href="{{url_for('passenger.register')}}"><i class="material-icons" style="vertical-align: -6px;">&#xE147;</i> <span>Adicionar</span></a>
            </div>      
            <table style="text-align: center;" class="table justify-content-center align-items-center" >
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Data de nascimento</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">UF</th>
                    <th scope="col">Endereço</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in passengers %}
                    <tr>
                       <td>{{item.name}}</td>
                       <td class="cpf">{{item.cpf}}</td>
                       <td class="birth_date">{{item.birth_date}}</td>
                       <td>{{item.city}}</td>
                       <td>{{item.uf}}</span></td>
                       <td>{{item.address}}</td>
                       <td>
                            <a href="{{url_for('passenger.update', id=item.id)}}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="delete" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>           
    </div>
{% endblock %}