{% extends "shared/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/passenger/register.js') }}"></script>
{% endblock %}
{% block content %}
<form id="passenger-user-form" action="#" method="post">
    <div class="container">
      <div style="padding: 100px;" class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-9">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Nome</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="name-input" type="text" class="form-control form-control-lg" name="name" value="{{ passenger.name }}"/>
                </div>
              </div>
              <hr class="mx-n3">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Data de nascimento</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="birthdate-input" type="date" class="form-control form-control-lg"  name="birthdate" value="{{ passenger.birth_date.strftime('%Y-%m-%d') }}"/>
                </div>
              </div>
              <hr class="mx-n3">          
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">CPF</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="cpf-input" type="text" class="form-control form-control-lg" name="cpf" value="{{ passenger.cpf }}" disabled/>
                </div>
              </div>
              <hr class="mx-n3">          
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Endereço</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="address-input" type="text" class="form-control form-control-lg" name="address" value="{{ passenger.address }}"/>
                </div>
              </div>
              <hr class="mx-n3">                     
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Cidade</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="city-input" type="text" class="form-control form-control-lg" name="city" value="{{ passenger.city }}"/>
                </div>
              </div>
              <hr class="mx-n3">
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">UF</h6>
                </div>
                <div class="col-md-9 pe-5">
                    <input id="uf-input" type="text" class="form-control form-control-lg" name="uf" value="{{ passenger.uf }}" maxlength="2"/>
                </div>
              </div>                
              <hr class="mx-n3">
              <div style="float: right;" class="px-5 py-4">
                <button type="submit" class="btn btn-primary btn-lg">Editar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}