{% extends "shared/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/auth/register.js') }}"></script>
{% endblock %}
{% block content %}
<form id="register-user-form" action="#" method="post">
    <div class="container">
      <div style="padding: 100px;" class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-9">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Nome</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="name-input" type="text" class="form-control form-control-lg" name="name"/>
                </div>
              </div>
              <hr class="mx-n3">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Data de nascimento</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="birthdate-input" type="date" class="form-control form-control-lg"  name="birthdate"/>
                </div>
              </div>
              <hr class="mx-n3">          
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">CPF</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="cpf-input" type="text" class="form-control form-control-lg" name="cpf"/>
                </div>
              </div>
              <hr class="mx-n3">          
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Endereço</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="address-input" type="text" class="form-control form-control-lg" name="address"/>
                </div>
              </div>
              <hr class="mx-n3">                     
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Usuário</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="login-input" type="text" class="form-control form-control-lg" name="login"/>
                </div>
              </div>
              <hr class="mx-n3">
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Senha</h6>
                </div>
                <div class="col-md-9 pe-5">
                    <input id="password-input" type="password" class="form-control form-control-lg" name="password"/>
                </div>
              </div>                
              <hr class="mx-n3">
              <div style="float: right;" class="px-5 py-4">
                <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}