{% extends "shared/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/vehicle/update.js') }}"></script>
{% endblock %}
{% block content %}
<form id="vehicle-user-form" action="#" method="post">
    <div class="container">
      <div style="padding: 100px;" class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-9">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Tipo</h6>
                </div>
                <div class="col-md-9 pe-5">
                    <select id="type-input" class="form-control form-control-lg" name="type">
                        {% for type in vehicle_types %}
                        {% if vehicle.type ==  type%}
                            <option value="{{type}}" selected="selected">{{vehicle_types[type]}}</option>             
                        {% else %}
                            <option value="{{type}}">{{vehicle_types[type]}}</option>             
                        {% endif %}
                        {% endfor %}
                      </select>
                </div>
              </div>
              <hr class="mx-n3">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Placa</h6>
                </div>
                <div class="col-md-9 pe-5">
                    <input id="plate-input" type="text" class="form-control form-control-lg" placeholder="AAA-9999" name="plate" value="{{ vehicle.plate }}" disabled/>
                </div>
              </div>
              <hr class="mx-n3">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Marca</h6>
                </div>
                <div class="col-md-9 pe-5">
                    <input id="brand-input" type="text" class="form-control form-control-lg" name="brand" value="{{ vehicle.brand }}"/>
                </div>
              </div>
              <hr class="mx-n3">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Modelo</h6>
                </div>
                <div class="col-md-9 pe-5">
                    <input id="model-input" type="text" class="form-control form-control-lg" name="model" value="{{ vehicle.model }}"/>
                </div>
              </div>    
              <hr class="mx-n3">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Ano</h6>
                </div>
                <div class="col-md-9 pe-5">
                    <input id="year-input" type="number" class="form-control form-control-lg" name="year" maxlength="4" value="{{ vehicle.year }}"/>
                </div>
              </div> 
              <hr class="mx-n3">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Capacidade</h6>
                </div>
                <div class="col-md-9 pe-5">
                    <input id="capacity-input" type="number" class="form-control form-control-lg" name="capacity" maxlength="1" value="{{ vehicle.capacity }}"/>
                </div>
              </div>                                                               
              <hr class="mx-n3">          
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">CPF</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input id="cpf-input" type="text" class="form-control form-control-lg" name="driver-cpf" value="{{ vehicle.driver.cpf }}"/>
                </div>
              </div>                
              <hr class="mx-n3">
              <div style="float: right;" class="px-5 py-4">
                <button type="submit" class="btn btn-primary btn-lg">Editar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}